<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Portfólio</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="foto de perfil do Edjalma">
            <h1>Edjalma Almeida</h1>
            <div class="social-links mt-4 text-center">
                <a target='_blank' href="https://www.linkedin.com/in/edjalma-silva-de-almeida/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target='_blank' href="https://github.com/dyda91">
                    <i class="bi bi-github"></i>
                </a>
                <a target='_blank' href="https://www.instagram.com/dyda1991/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target='_blank' href="https://wa.me/+5519998892831?text=Fale%20comigo">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades"><i class="bi bi-card-checklist"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li><li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
              </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Edjalma Almeida</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Web Full Stack</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>

        </section>

        <section id="sobre" class="container mt-5">
            <div class="row w-100">
                <div class="com-md-12" data-animate="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Apaixonado por tecnologia. Sou um baiano de 31 anos, que mora no interior de São Paulo (região metropolitana de Campinas), há mais de 13 anos. Sou tecnólogo em logística, e tenho mais de 11 anos de experiência na indústria, nas áreas de logística e PCP (planejamento e controle de produção). 
                        Apesar de tantos anos dedicados a outras funções, resolvi embarcar em uma transição de carreira, há cerca de um ano, para a área que eu realmente amo. Desde então, venho me dedicando a aprender cada vez mais e aperfeiçoando minhas habilidades como desenvolvedor.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/profile.jpg" data-animate="left" alt="foto de perfil do Edjalma">
                </div>
                <div class="col-md-8 mt-4" data-animate="right">
                    <h3>Técnico de implementação</h3>
                    <p>
                        Atualmente exerço a função  de Técnico de implementação em uma empresa que executa a robotização de paleteiras elétricas para que operem de forma autônoma em armazéns de logística. Sou integrado ao time de desenvolvimento, e responsável pelo levantamento de informações comportamentais dos robôs, gerando relatórios que permitam que o time de desenvolvimento possa fazer melhorias no funcionamento dos mesmos.
                    </p>                    
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">

                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-lighter">22 de março de 1991</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">31 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Artur Nogueira</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">São Paulo</span>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-6">

                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Games</span>
                                </li>
                                <li class="list-group-item">
                                    Github: 
                                        <a target='_blank' class="fw-lighter text-decoration-none link-dark" href="https://github.com/dyda91">dyda91</a>                                 
                                </li>
                                <li class="list-group-item">
                                   Linkedin: 
                                        <a target='_blank' class="fw-lighter text-decoration-none link-dark" href="https://github.com/dyda91">Acessar</a>
                                </li>                             
                              </ul>
                        </div>
                    </div>

                    <p>Busco oportunidades para atuar com desenvolvimento direto, de forma que possa aplicar em projetos reais o conhecimento adquirido, ao mesmo tempo que desenvolvo novas habilidades</p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">

                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Busco constante evolução, aprimorando os conhecimentos já adquiridos bem como o desenvolvimento de novas habilidades. Segue algumas das habilidades que já tive algum nível de contato, baseando-me na porcentagem que eu acredito ter, levando em conta minha pouca experiência.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-animate="left">80%</div>
                        </div>

                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-animate="left">70%</div>
                         </div>

                        <p class="mt-3 mb-0">JAVASCRIPT</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-animate="left">60%</div>
                        </div>

                        <p class="mt-3 mb-0">PYTHON (FLASK)</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-animate="left">60%</div>
                        </div>

                        <p class="mt-3 mb-0">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" data-animate="left">30%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">GIT/GITHUB</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-animate="left">40%</div>
                          </div>

                        <p class="mt-3 mb-0">NODE.JS</p>
                        <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-animate="left">40%</div>
                        </div> 

                        <p class="mt-3 mb-0">REACT.JS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" data-animate="left">50%</div>
                        </div>

                        <p class="mt-3 mb-0">BOOTSTRAP</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-animate="left">60%</div>
                        </div>

                        <p class="mt-3 mb-0">NoSQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" data-animate="left">30%</div>
                        </div>
                    </div>                    
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">TRABALHO EM EQUIPE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" data-animate="left">90%</div>
                        </div>

                        <p class="mt-3 mb-0">PROATIVIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-animate="left">80%</div>
                        </div>

                        <p class="mt-3 mb-0">EMPATIA</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-animate="left">80%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-3 mb-0">COMPROMETIMENTO</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-animate="left">80%</div>
                        </div>

                        <p class="mt-3 mb-0">INTERESSE EM APRENDER</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-animate="left">80%</div>
                        </div>

                        <p class="mt-3 mb-0">RESPONSABILIDADE</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" data-animate="left">80%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="curriculo" class="mt-5 cv">
            <div class="container pb-5">
                <div class="row">
                    <h2 class="pt-3 pb-4" data-animate="up">Currículo</h2>
                    <div class="col-md-6">
                        <h3 class="cv-title" data-animate="up">Educação</h3>

                        <div class="cv-item" data-animate="up">
                            <h4 class="cv-title">Full Stack Development</h4>
                            <h5>03/2022 - 11/2022</h5>
                            <p><em>Tera Edtech</em></p>
                            <p>Bootcamp de desenvolvimento web full stack, Com cerca de 500 h de conteúdo construído com base no que o mercado mais busca, onde foi ensinando todos os conceitos base de Front-End, Back-End e Full Stack com profundidade, além das stacks de tecnologia mais atuais.</p>
                        </div>

                        <div class="cv-item"  data-animate="up">
                            <h4 class="cv-title">Sup. Tec. em Logística (Tecnólogo)</h4>
                            <h5>01/2019 - 12/2020</h5>
                            <p><em>Universidade Paulista (Unip)</em></p>
                            <p>Curso Superior de Tecnologia em Logística com o objetivo formar profissionais capazes de planejar, colocar em operação e controlar as atividades de logística de uma empresa</p>
                        </div>
                        
                        <div class="cv-item"  data-animate="up">
                            <h4 class="cv-title">Aux. Logística</h4>
                            <h5>03/2011 - 11/2011</h5>
                            <p><em>SENAI-SP</em></p>
                            <p>Curso de 9 meses voltado para formação de profissionais de logística</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title mt-4" data-animate="up">Profissional</h3>
                        <div class="cv-item"  data-animate="up">
                            <h4 class="cv-title">Técnico de Implementação jr</h4>
                            <h5>05/2022 - Atual</h5>
                            <p><em>Automni Lógistica Robotizada</em></p>
                            <p>Participo do processo de implementação de paleteiras robotizadas que trabalham de forma autônoma em armazéns de logística. Integrado ao time de dev, levanto informações e relatórios para que o time desenvolva melhorias no projeto, e eventualmente participo de algum desenvolvimento mais simples</p>
                        </div>
                        <div class="cv-item"  data-animate="up">
                            <h4 class="cv-title">Aux. de PCP II</h4>
                            <h5>03/2019 - 05/2021</h5>
                            <p><em>Motivating Graphics</em></p>
                            <p>Planejamento e controle de produção, apontamento de produção em sistema informatizado (TOTVS Protheus), controle da produção por planilhas, inventário.</p>
                        </div>
                        <div class="cv-item"  data-animate="up">
                            <h4 class="cv-title">Aux. de PCP</h4>
                            <h5>03/2015 - 12/2017</h5>
                            <p><em>Indústria Metaloquimica Kels</em></p>Calculo de consumo de matérias primas, confecção e atualização de desenhos técnicos e documentos usados no processo produtivo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="portfolio">
            <div class="container pb-5 pt-5"  data-animate="left">
                <h2 class="pb-4">Portfólio</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/plataforma-ed.png" class="card-img-top image" alt="plataforma educacional">
                                <div class="card-body">
                                  <h5 class="card-title">Plataforma Educacional</h5>
                                  <p class="card-text">Projeto Fullstack criado com Flask, SQLite, html, css, javascript, bootstrap e outras bibliotecas. Usado como projeto final do curso de desenvolvimento fullstack da Tera.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/dyda91/Projeto_final_tera" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/api-nade.png" class="card-img-top image" alt="api node.js">
                                <div class="card-body">
                                  <h5 class="card-title">API Node.js + mongoDB + React</h5>
                                  <p class="card-text">API criada em Node.js, express e mongoDB. Projeto realizado no modulo backend do curso de desenvolvimento fullstack da Tera<br><br></p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://github.com/dyda91/dyda91-projeto-bootcamp-fullstack-tera/tree/master/API" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                  <img src="../static/img/cadastro-itens.png" class="card-img-top image" alt="plataforma educacional">
                                  <div class="card-body">
                                    <h5 class="card-title">Cadastro de itens (CRUD)</h5>
                                    <p class="card-text">Projeto Fullstack criado com Flask, SQLite, html, css, javascript, bootstrap e outras bibliotecas. Contem sistema de login e cadastro com validação de formulários, e CRUD completo.</p>
                                    <div class="d-flex justify-content-center">
                                      <a href="https://itenscadastroapp.herokuapp.com/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                      <a href="https://github.com/dyda91/list-items" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>                           
                          </div>
                      </div>

                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/cadastro-itens.png" class="card-img-top image" alt="plataforma educacional">
                                <div class="card-body">
                                  <h5 class="card-title">Cadastro de itens (CRUD)</h5>
                                  <p class="card-text">Projeto Fullstack criado com Flask, SQLite, html, css, javascript, bootstrap e outras bibliotecas. Contem sistema de login e cadastro com validação de formulários, e CRUD completo.</p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://itenscadastroapp.herokuapp.com/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    <a href="https://github.com/dyda91/list-items" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/canvas.png" class="card-img-top image" alt="api node.js">
                                <div class="card-body">
                                  <h5 class="card-title">HTML canvas + javascript vanilla</h5>
                                  <p class="card-text">manipulação de pixels de imagens que reagem ao movimento do mause, utilizando HTML canvas e javascript vanilla<br><br></p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://dyda91.github.io/canvas/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    <a href="https://github.com/dyda91/canvas" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/calc.png" class="card-img-top image" alt="calculadora javascript">
                                <div class="card-body">
                                  <h5 class="card-title">Calculadora javascript</h5>
                                  <p class="card-text">Calculadora criada utilizando html, css e javascript apenas<br><br><br></p>
                                  <div class="d-flex justify-content-center">
                                    <a href="https://dyda91.github.io/calculadora-javascript/" target="_blank" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                    <a href="https://github.com/dyda91/calculadora-javascript" target="_blank" class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                  </div>
                                </div>
                              </div>
                            </div>                            
                          </div>
                      </div>
                        
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                    
                  </div>
                  
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col md-5">
                        <div class="card p-5 shadow border-0"  data-animate="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Artur Nogueira, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>edjalmasalmeida@outlook.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.288227746568!2d-47.16258788444147!3d-22.56832083155613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c88ce8b3ec9d2b%3A0x5c88468b0f068077!2sR.%20Constabile%20Romano%2C%20Artur%20Nogueira%20-%20SP%2C%2013160-000!5e0!3m2!1sen!2sbr!4v1668273347527!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>                       
                        
                    </div>
                    <div class="col md-7 mt-5 mt-md-0" >
                        <div class="card p-5 h-100 shadow border-0"  data-animate="left">
                            <form class="row g-3" action="/send" method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                                </div>
                               
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                
                               
                                <div class="col-12  d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-primary" id="btn-send">Enviar mensagem</button>

                                  <button class="btn btn-primary" type="button" disabled id="btn-sending">
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Enviando...
                                  </button>
                                </div>
                              </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
                <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle-fill"></i> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Edjalma Almeida</strong>
            </div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>    
</body>
</html>